/* latin */
@font-face {
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/inder/v9/w8gUH2YoQe8_4sq9rQ4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


html, body{
    background-color: #18454A;
    font-family: 'Inder', sans-serif;
}

.inner{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;

}
h1{
    color:#E8E8E8;
    text-align: center;
}
.text{
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    width: 45%;
    margin-left: 27.5%;
    margin-bottom: 5%;
    color:#E8E8E8;
}

button{
    
    font-family: 'Inder', sans-serif;
    font-size: 1.2vw;
    padding: 0;
    border: none;
    background: none;
    background-color: #C28080;
    color: #E8E8E8;
    width: 35%;
    height: 5vW;
    border-radius: 1vw;
    margin-left: 2%;
    text-decoration: none;
    
}

.b{
    display: flex;
    margin-left: 15%;
    
}

.b :hover{
    cursor: pointer;
}